<f:if condition="{backendtitle}">
    <h3>{backendtitle}</h3>
</f:if>
<f:if condition="{tx_tt3facts_duration}">
    <strong><f:translate key="LLL:EXT:tt3_facts/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3facts_duration" />:</strong>
    {tx_tt3facts_duration}s<br>
</f:if>
<f:if condition="{tx_tt3facts_element}">

    <strong><f:translate key="LLL:EXT:tt3_facts/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3facts_element" />:</strong>

    <table class="table table-condensed table-triped">
        <thead>
        <tr>
            <th>#</th>
            <th>Backend Title</th>
            <th>Title</th>
            <th>Value</th>
            <th>Duration</th>
            <th>Type</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{tx_tt3facts_element}" as="item" iteration="i">
            <tr class="{f:if(condition: '{item.hidden}', then: 'opacity-25')}">
                <td>{i.cycle}</td>
                <td>{item.element_backendtitle}</td>
                <td>{item.element_title}</td>

                <f:if condition="{item.record_type.0} == reason">
                    <f:then>
                        <td><f:format.number decimals="0">{item.element_value}</f:format.number></td>
                        <td></td>
                        <td>Reason</td>
                    </f:then>
                    <f:else>
                        <td>
                            <f:format.number decimals="{item.element_decimalplaces}" decimalSeparator="{item.element_decimalchar}" thousandsSeparator="{item.element_seperator}">{item.element_startvalue}</f:format.number>
                            -
                            <f:format.number decimals="{item.element_decimalplaces}" decimalSeparator="{item.element_decimalchar}" thousandsSeparator="{item.element_seperator}">{item.element_value}</f:format.number>
                        </td>
                        <td>{item.element_duration}</td>
                        <td>Fact</td>
                    </f:else>
                </f:if>
                <td>{f:if(condition: '{item.hidden}', then: 'hidden')}</td>
            </tr>
        </f:for>
        </tbody>
    </table>
</f:if>