<div class="col">
    <div class="facts-item reason">
            <f:if condition="{data.element_value}">
                <span class="value"><f:format.number decimals="0">{data.element_value}</f:format.number></span>
            </f:if>
            <f:if condition="{data.element_title}">
                <span class="title">{data.element_title}</span><br />
            </f:if>
            <f:if condition="{data.element_subtitle}">
                <span class="subtitle">{data.element_subtitle}</span><br />
            </f:if>
            <f:if condition="{data.element_text}">
                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.element_text}</f:format.html>
            </f:if>
            <f:if condition="{image}">
                <f:image class="img-fluid" image="{image}" alt="{image.alternative}" title="{image.title}"/><br />
            </f:if>
    </div>
</div>
