<div class="col">
    <div class="facts-item fact">
        <span id="facts--{plugin_uid}-{data.uid}" class="value" data-pluginuid="{plugin_uid}" data-uid="{data.uid}" data-start-value="{data.element_startvalue}" data-value="{data.element_value}" data-decimalplaces="{data.element_decimalplaces}" data-duration="{data.element_duration}" data-duration-global="{duration}" data-usegrouping="{data.element_grouping}" data-separator="{data.element_seperator}" data-decimal="{data.element_decimalchar}" data-prefix="{data.element_prefix}" data-suffix="{data.element_suffix}" >
            {data.element_startvalue}
        </span>
        <f:if condition="{data.element_title}">
            <span class="title">{data.element_title}</span><br />
        </f:if>
        <f:if condition="{data.element_subtitle}">
            <span class="subtitle">{data.element_subtitle}</span><br />
        </f:if>
        <f:if condition="{data.element_text}">
            <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.element_text}</f:format.html>
        </f:if>
        <f:if condition="{image}">
            <f:image class="img-fluid" image="{image}" alt="{image.alternative}" title="{image.title}"/><br />
        </f:if>
    </div>
</div>