<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{data_tx_tt3facts_element}">
    <div id="c{data.uid}" class="row tx_tt3_facts
            {f:if(condition: data.layout, then: 'frame-layout-{data.layout}')}
            {f:if(condition: data.frame_class, then: 'frame-{data.frame_class}')}
            {f:if(condition: data.space_before_class, then: 'frame-space-before-{data.space_before_class}')}
            {f:if(condition: data.space_after_class, then: 'frame-space-after-{data.space_after_class}')} ">

        <f:for each="{data_tx_tt3facts_element}" as="data_item" iteration="i">
            <f:switch expression="{data_item.data.record_type}">
                <f:case value="reason">
                    <f:comment><!-- Reasons --></f:comment>
                    <f:render partial="Reason/Item" arguments="{data_item: '{data_item}', data: '{data_item.data}', image: '{data_item.data_element_image.0}', duration: '{data.tx_tt3facts_duration}'}"/>
                </f:case>
                <f:defaultCase>
                    <f:comment><!-- Facts --></f:comment>
                    <f:render partial="Fact/Item" arguments="{data_item: '{data_item}', data: '{data_item.data}', image: '{data_item.data_element_image.0}', duration: '{data.tx_tt3facts_duration}', plugin_uid: '{data.uid}'}"/>
                </f:defaultCase>
            </f:switch>
        </f:for>
</div>
</f:if>
